@import "assets/styles/page.css";
@import "assets/styles/filter-list.css";
@import "assets/styles/filter.css";
@import "assets/styles/card-list.css";
@import "assets/styles/card.css";

:root {
  --color-desaturated-dark-cyan: hsl(180, 29%, 50%);
  --color-light-grayish-cyan-bg: hsl(180, 52%, 96%);
  --color-light-grayish-cyan-filter-tablets: hsl(180, 31%, 95%);
  --color-dark-grayish-cyan: hsl(180, 8%, 52%);
  --color-very-dark-grayish-cyan: hsl(180, 14%, 20%);
  --color-white: hsl(0, 0%, 100%);

  --font-fallback: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font: 'League Spartan', var(--font-fallback);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
