.card {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 0.6rem;
    background-color: var(--color-white);
    padding: 3.2rem 2.4rem 2.4rem 1.9rem;
    margin-bottom: 4rem;
    box-shadow: var(--shadow);
    border-left: 0.5rem solid transparent;
}

.card:last-child {
    margin-bottom: 0;
}

.card--border {
    border-left: 0.5rem solid var(--color-desaturated-dark-cyan);
}

.card__section {
    width: 100%;
    height: auto;
}

.card__section--logo {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding-left: 2.4rem;
    transform: translateY(-50%);
}

.card__section--tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% + 1.6rem);
    margin-left: -0.8rem;
    margin-right: -0.8rem;
}

.card__logo {
    width: auto;
    height: 4.8rem;
}

.card__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
}

.card__company {
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-desaturated-dark-cyan);
    margin-right: 2.4rem;
    text-decoration: none;
}

.card__badge {
    width: auto;
    height: 2.4rem;
    border-radius: 9999px;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border: none;
    font-family: var(--font);
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-white);
    text-transform: uppercase;
    margin-right: 0.8rem;
}

.card__badge:last-child {
    margin-right: 0;
}

.card__badge--new {
    background-color: var(--color-desaturated-dark-cyan);
}

.card__badge--featured {
    background-color: var(--color-very-dark-grayish-cyan);
}

.card__position {
    display: block;
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-very-dark-grayish-cyan);
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    text-decoration: none;
}

.card__position:hover {
    color: var(--color-desaturated-dark-cyan);
}

.card__text {
    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-dark-grayish-cyan);
    margin-top: 0;
    margin-bottom: 0;
}

.card__dot {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 9999px;
    background-color: var(--color-dark-grayish-cyan);
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.card__divider {
    width: 100%;
    height: 0.1rem;
    margin-top: 1.6rem;
    background-color: var(--color-dark-grayish-cyan);
}

.card__tag {
    width: auto;
    height: 3.2rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-top: 1.6rem;
    border-radius: 0.4rem;
    background-color: var(--color-light-grayish-cyan-bg);
    border: none;
    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-desaturated-dark-cyan);
    cursor: pointer;
}

.card__tag:hover {
    background-color: var(--color-desaturated-dark-cyan);
    color: var(--color-white);
}

@media screen and (min-width: 1158px) {
    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 3.2rem 4rem 3.2rem 3.5rem;
        margin-bottom: 2.4rem;
    }

    .card__section--logo {
        position: static;
        padding-left: 0;
        transform: none;
        padding-right: 2.4rem;
    }

    .card__section--tags {
        justify-content: flex-end;
    }

    .card__logo {
        width: 8.8rem;
        height: 8.8rem;
    }

    .card__company {
        font-size: 1.8rem;
    }

    .card__position {
        font-size: 2.2rem;
    }

    .card__text {
        font-size: 1.8rem;
    }

    .card__dot {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }

    .card__divider {
        display: none;
    }

    .card__tag {
        margin-top: 0;
    }
}