.filter-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 1.2rem 2rem;
    border-radius: 0.6rem;
    background-color: var(--color-white);
    box-shadow: var(--shadow);
    margin-top: -9.2rem;
    margin-bottom: 5.6rem;
}

.filter-list__section {
    display: flex;
    flex-direction: row;
}

.filter-list__section--tags {
    flex: 1 1 0;
    flex-wrap: wrap;
    margin-left: -0.8rem;
    margin-right: -0.8rem;
}

.filter-list__section--button {
    flex: 0 0 auto;
    align-items: center;
}

.filter-list__button {
    width: auto;
    height: 3.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin-right: -1.6rem;
    border: none;
    background-color: transparent;
    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-desaturated-dark-cyan);
    cursor: pointer;
}

.filter-list__button:hover {
    text-decoration: underline;
}

@media screen and (min-width: 1158px) {
    .filter-list {
        padding: 1.2rem 4rem;
        margin-top: -11rem;
        margin-bottom: 4rem;
    }
}